TWITTER_CLIENT_ID=""
TWITTER_CLIENT_SECRET=""

NEXTAUTH_SECRET=`openssl rand -hex 48`
NEXTAUTH_JWT_SECRET=`openssl rand -hex 48`
NEXTAUTH_JWT_SIGNING_KEY=`npx node-jose-tools newkey -s 256 -t oct -a HS512`
NEXTAUTH_JWT_ENCRYPTION_KEY=`npx node-jose-tools newkey -s 256 -t oct -a A256GCM -u enc`
