# dependencies
package-lock.json

# generated
.next/
.vercel/
coverage/
dist/
storybook-static/

.eslintcache

next-env.d.ts

public/mockServiceWorker.js

src/**/codegen.ts
src/i18n/i18n-*
src/lib/*.graphql.ts
src/pages/**/*.graphql.ts
